@using HybridWebApplication.Shared.Models

<div class="todo-header">
    <div class="todo-header-left">
        <h3 class="todo-title">Tasks</h3>
    </div>
    <div class="todo-header-right">
        <button class="btn-add-task" @onclick="OnAddTaskClick">
            <i class="icon-plus">+</i> Add Task
        </button>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnAddTaskClick { get; set; }
}
