@page "/"
@layout Layout.MainLayout

<PageTitle>Home</PageTitle>

<div class="home-container">
    <header class="home-header">
        <h1>Welcome to the Technical Test</h1>
        <p class="intro-text">Thank you for taking the time to review this technical test! Here you'll have the opportunity to experience a simple solution for managing tasks (To Do List), developed with clean architecture and good software practices.</p>
    </header>

    <section class="home-content">
        <h2>What will you find here?</h2>
        <p>This application includes a task list with the following features:</p>
        <ul>
            <li><strong>Add tasks</strong>: You can add new tasks to your to-do list.</li>
            <li><strong>Update tasks</strong>: Modify tasks as needed.</li>
            <li><strong>Delete tasks</strong>: Remove tasks once they are completed or no longer needed.</li>
            <li><strong>Task progress</strong>: Track the progress of tasks and view their percentage completion.</li>
        </ul>

        <h3>Enjoy exploring the app!</h3>
        <p>Click the <strong>"To Do List"</strong> link in the menu to start managing your tasks.</p>

        <h3>IMPORTANT: Ensure the API (.exe) is running!</h3>
    </section>
</div>
